@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

body {
    margin: 0;
    overflow: hidden;  /* ## */
    
}

.TodoApp {
    background-color: #9E9E9E;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*min-width: 100vw; */
    min-height: 100vh;
}
